body, h1 {
  margin: 0;
  text-align: center;
}
a {
  text-decoration: none;
  color: #000;
}

#homeview {
  background-image: url('./images/confroom.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center top;
  position: relative;
}

header {
  position: fixed;
  top: 20px;
  width: 100vw;
  height: max-content;
  z-index: 100;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
}

#headtitle {
  font-family: 'Satisfy';
  font-size: 50px;
  width: 100vw;
  text-align: center;
  text-shadow: 1px 1px #fff;
}

#mainlogo {
  font-size: 50px;
  margin: 11px;
  height: max-content;
  width: max-content;
}

#homelogo {
  font-size: 200px;
  color: #56f70c;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: max-content;
  width: max-content;
  font-weight: bolder;
}
#getstarted {
  background-color: #fff;
  height: 130px;
  width: 130px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Satisfy';
  font-size: 28px;
}

#homeexplain {
  height: max-content;
  width: max-content;
  font-family: 'Satisfy';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
}

#loginview {
  background-color: rgb(52, 67, 91);
  color: #fff;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  background-color: rgb(52, 67, 91);
  color:  rgb(117,117,117);
  font-size: 40px;
  width: max-content;
  min-width: 500px;
  text-align: center;
  border-width: 0 0 .5px 0;
  padding: 10px;
  overflow: visible;
}
input:focus{
  outline: none;
}
.notifylogin {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  margin: auto;
}
#profileview {
  height: 100vh;
  width: 100vw;
}
.spacer {
  height: 100px;
  width: 100vw;
}
