body, h1, p, h3 {
  margin: 0;
  text-align: center;
}
a {
  text-decoration: none;
  color: #000;
}

#homeview {
  background-image: url('./images/confroom.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center top;
  position: relative;
}

header {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  width: 100vw;
  max-width: 600px;
  height: max-content;
  z-index: 100;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  margin: auto;
}

#headtitle {
  font-family: 'Satisfy';
  font-size: 50px;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px #fff;
}

#mainlogo {
  font-size: 50px;
  margin: 11px;
  height: max-content;
  width: max-content;
}

#homelogo {
  font-size: 200px;
  color: #56f70c;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: max-content;
  width: max-content;
  font-weight: bolder;
}
#getstarted {
  background-color: #fff;
  height: 130px;
  width: 130px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Satisfy';
  font-size: 28px;
}

#homeexplain {
  height: max-content;
  width: max-content;
  font-family: 'Satisfy';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
}

#loginview, #profileview, #addmeetingview, #meetingview, .notallowed {
  background-color: rgb(52, 67, 91);
  color: #fff;
  height: max-content;
  min-height: 100vh;
  width: 100%;
  font-family: 'Satisfy';
}
#loginview {
  display: flex;
  align-items: center;
  justify-content: center;
}
.notallowed {
  background-image: url('https://images.unsplash.com/photo-1428591850870-56971c19c3d9?dpr=2&auto=compress,format&fit=crop&w=376&h=251&q=80&cs=tinysrgb&crop=');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
input {
  background-color: rgb(52, 67, 91);
  color:  rgb(117,117,117);
  font-size: 40px;
  width: max-content;
  min-width: 500px;
  text-align: center;
  border-width: 0 0 .5px 0;
  padding: 10px;
  overflow: visible;
}
input[type=date]{
  text-align: right;
  padding-right: 75px;
}
input:focus{
  outline: none;
}
.notifylogin {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}
.spacer {
  height: 100px;
  width: 100%;
}
button {
  background-color: rgb(52, 67, 91);
  color:  rgb(117,117,117);
  font-size: 40px;
  width: max-content;
  min-width: 500px;
  text-align: center;
  border-width: 0 0 .5px 0;
  padding: 5px;
  overflow: visible;
}
button:hover {
  cursor: pointer;
}
#logout {
  position: absolute;
  top: 31px;
  right: 10px;
  z-index: 150;
  min-width: 100px;
  width: max-content;
}
.desktopcontainer {
  display: block;
  width: 100vw;
  max-width: 600px;
  height: max-content;
  margin: auto;
}
.eventprofile {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  box-sizing: border-box;
}
.eventprofilecard {
  width: 100px;
  height: 100px;
  padding-top: 2px;
  background-color: rgba(255,255,255, 1);
  border: 0.5px solid #8d8d8d;
  color: #000;
  margin: 5px;
  box-sizing: border-box;
}

@media (max-width: 600px){
  .desktopcontainer, header {
    width: 100vw;
  }
}
@media (max-device-width: 100vw){
  .desktopcontainer, header {
    width: 100vw;
    max-width: 100vw;
  }
}
